@import url(./blog-post.css);
@import url(./aside.css);
@import url(./children-details.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.homepage-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(12, minmax(10px, 1fr));
  grid-template-rows: 70px 1fr 140px;
  grid-template-areas:
    "navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar"
    "cont cont cont cont cont cont cont cont cont cont cont cont"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}

.homepage-header {
  grid-area: navbar;
}

.homepage-content {
  grid-area: cont;
}

.homepage-footer {
  grid-area: footer;
}

.homepage-navbar {
  background-color: #eee;
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  flex: 1;
}

.homepage-footer {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.homepage-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card {
  height: auto;
  border: 5px solid #eee;
  display: flex;
  justify-content: center;
  padding: 4%;
  margin: 2%;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  flex-basis: 50px;
}

.cont-reading {
  margin-top: 50px;
}

.reading {
  display: block;
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 10%;
  margin-inline-end: 10%;
  unicode-bidi: isolate;
}

@media (max-width: 450px) {
  .homepage-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  p {
    font-size: 3vw;
  }

  .world,
  .design {
    font-size: 3vw;
  }

  h2 {
    font-size: 3vw;
  }

  .header1 {
    font-size: 4vw;
  }

  .subscribe,
  .fa-magnifying-glass {
    font-size: 3vw;
  }

  a {
    font-size: 3vw;
  }

  blockquote {
    font-size: 3vw;
  }
}
